
$FontPathOpenSans: "node_modules/@inspark/components-web/src/assets/fonts/open-sans";
$FontPathPrimeicons: "node_modules/@inspark/components-web/src/assets/fonts/primeicons";

@import "@inspark/components-web/src/main";
@import "@inspark/components-web/src/theme/light";
@import "@inspark/components-web/src/theme/contrast";

storybook-dynamic-app-root {
  display: inline-block;
}
